<section class="notification-center">

  <div class="header">

    <h2>{{ 'notifications.title' | translate }}</h2>

    <app-notification-badge
      [unreadCount]="store.unreadCount()">
    </app-notification-badge>

  </div>


  <select
    #typeFilter
    (change)="filterByType(typeFilter.value)">

    <option value="">
      {{ 'notifications.all' | translate }}
    </option>

    <option value="HEALTH_ALERT">
      {{ 'notifications.health' | translate }}
    </option>

  </select>


  @if (store.loading) {

    <p>{{ 'notifications.loading' | translate }}</p>

  } @else {

    @if (store.errorMessage) {

      <p class="error">
        {{ store.errorMessage }}
      </p>

    }

    <app-notification-list
      [notifications]="store.visibleNotifications()"
      (markRead)="markAsRead($event)">
    </app-notification-list>

  }

</section>
